*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  list-style-type: none;
  border: none;
  outline: none;
  font-family: 'Comfortaa', cursive;
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Playfair Display', serif;

  transition: 0.5s ease;
}
html{
  scroll-behavior: smooth;
}
button:hover{
  cursor: pointer;
}

:root{
  --primary-green:#68ffd1;
  --secondary-black:#0a0c10;
  --primary-skin:rgba(216,212,209,255);
  --primary-black:rgba(17,16,37,255);
}