.main-nav{
    width: 100%;
    display: grid;
    grid-template-columns: 8rem 1fr 2fr 8rem;
    height: 5rem;
}

.logo{
    grid-column: 2/3;
    display: flex;
    align-items: center;
}

.menu-link{
    grid-column: 3/4;
}

.menu-link ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    font-size: larger;
}

.hamburger-menu{
    display: none;
}

.mobile-menu-link{
    display: none;
}

/* Media Queries */

@media screen and (min-width:850px) and (max-width:1050px) {
    .main-nav{
        grid-template-columns: 5rem 1fr 2fr 5rem;
        height: 4rem;
    }
    .menu-link ul{
        height: 4rem;
    }
}

@media screen and (max-width:850px) {
    .menu-link{
        display: none;
    }
    .main-nav{
        width: 100%;
        grid-template-columns: 4rem 1fr 2fr 4rem;
        height: 3.2rem;
    }
    .hamburger-menu{
        display: grid;
        height: 3.2rem;
        align-items: center;
        justify-content: flex-end;
    }
    .mobile-menu-link{
        display: grid;
        grid-column: 3/3;
        grid-row: 2/4;
        z-index: 99;
    }
    .mobile-menu-link ul{
        background-color: rgba(216,212,209,255);
        height: 10rem;
        display: grid;
        padding-left: 2%;
        align-items: center;
    }
}