.home_container{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/home_bg4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 83vh;
    position: relative;
    z-index: 1;
    filter: grayscale(0.3);
}